* {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
body{
    margin: 0px;
}
/* HEADER */
.header{
    background-image: url(developer.png),url(header_bg.png),url(Rectangle.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* shared style */
.s-bg{background-color: #fff8f3;}
.text-primary{color: #FD6E0A;}
.dark2{color: #474747;}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: aliceblue;
    padding: 18px 36px;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
.section-title{
    font-size: 45px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
}

/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 100px;
}
.nav-title{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    font-size: 45px;
}
nav ul li{
    list-style-type: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;}
/* BANNER STYLE*/

.banner{
    display: flex;
    justify-content:space-between;
    margin:0px 38px 0px 230px ;}
.banner-content{
    width: 580px;
    height: 350px;
}
.banner-title{
    font-size: 45px;
    font-weight: 600px;
}
.hero-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-pro-pic{
    width:580px;
}
/* MAIN STYLES */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
/* ABOUT STYLES */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}
